DEVELOPMENT_ENV=<your_value_here>
DEBUG=<your_value_here>
API_URL=<your_value_here>
AUTH_TOKEN=<your_value_here>

ALLOWED_ORIGINS=<your_value_here>

SECRET_KEY=<your_value_here>
ALGORITHM=<your_value_here>

MAX_CONCURRENT_REQUESTS=<your_value_here>
TASK_POLL_INTERVAL=<your_value_here>
ACCESS_TOKEN_EXPIRE_MINUTES=<your_value_here>

IMAGES_UPLOAD_DIR=<your_value_here>

MARIADB_HOST=<your_value_here>
MARIADB_PORT=<your_value_here>
MARIADB_USER=<your_value_here>
MARIADB_PASSWORD=<your_value_here>
MARIADB_DB=<your_value_here>

SQLSERVER_USER=<your_value_here>
SQLSERVER_PASSWORD=<your_value_here>
SQLSERVER_DB=<your_value_here>
SQLSERVER_HOST=<your_value_here>
SQLSERVER_PORT=<your_value_here>
SQLSERVER_DRIVER=<your_value_here>
SQLSERVER_TRUST_SERVER_CERTIFICATE=<your_value_here>
SQLSERVER_ENCRYPT=<your_value_here>

REDIS_HOST=<your_value_here>
REDIS_PORT=<your_value_here>
REDIS_DB=<your_value_here>
REDIS_PASSWORD=<your_value_here>

WHATSAPP_API_URL=<your_value_here>
WHATSAPP_API_TOKEN=<your_value_here>

AZURE_TENANT_ID=<your_value_here>
AZURE_CLIENT_ID=<your_value_here>
AZURE_CLIENT_SECRET=<your_value_here>